@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #ffffff;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 400; */

}

.navb{
    display: flex;
    padding-left: 10rem;
    /* padding-right: 6rem; */
    margin-top: 3rem;
}
.logo2{
    margin-right: 25rem;
}
.m1{
    display: flex;
    padding-top: 1.3rem;
    
}
.pp{
   margin-left: 2rem; 
}
.dd{
    border-radius: 8px;
    padding: 1.2rem;
    border-color: black;
    border: 2px solid ;
    margin-left: 2rem; 
}
.row {
    display: flex;
    padding: 4rem;
}

.col {
    display: block;
    justify-self: center;
    padding-right: 4rem;
    padding-left: 4rem;
}

.head1 {
    font-size: 5rem;
    font-weight: 400;
    margin-top: 1rem;
}

.para1 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.btn {
    background-color: black;
    color: #ffffff;
    border-radius: 8px;
    font-size: 1.3rem;
    padding: 1rem;
    margin-top: 1rem;
    width: 18rem;
}

.logo1{
    display: flex;
    justify-self: center;
}
.img1{
    margin: 5.5rem;
    

}

.s1{
    display: flex;
    margin: 7rem;
    padding: 2rem;

}

.head2{
    background-color: #B9FF66;
    padding: 0.5rem;
    border-radius: 8px;
    font-size: 1.5rem;
}

.para2{
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    font-size: 1.2rem;
}

@media (max-width: 1024px){

    .navb{
        padding-left: 3rem;
        flex-wrap: wrap;
    }

    .logo2{
        margin-right: 5rem;
    }

    .row{
        flex-direction: column;
        text-align: center;
    }

    .col{
        padding: 2rem;
    }

    .head1{
        font-size: 3rem;
    }

    .logo1{
        flex-wrap: wrap;
    }

    .img1{
        margin: 2rem;
    }

}

@media (max-width: 600px){

    .navb{
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    .m1{
        flex-direction: column;
        align-items: center;
    }

    .pp{
        margin: 0.5rem 0;
    }

    .dd{
        margin-top: 1rem;
    }

    .head1{
        font-size: 2rem;
    }

    .para1{
        font-size: 1rem;
    }

    .btn{
        width: 100%;
    }

    .logo1{
        flex-direction: column;
        align-items: center;
    }

    .s1{
        flex-direction: column;
        margin: 2rem;
        text-align: center;
    }

}
