* {
    margin: 0%;
    padding: 0%;
}

.head {
    text-align: center;
    font-size: 24px;
    color: rgb(167, 172, 176);
    width: 100%;
    height: 200px;

}

.head_db {
    padding: 10rem;
    background-color: #2c0606;
}

.n1 {
    display: block;
    justify-self: center;
    justify-items: center;
    text-align: center;
    font-size: 24px;
    color: rgb(0, 0, 0);
    width: 80%;
    height: 20vh;
    padding-top: 4rem;
    margin-bottom: 5rem;
    
    background-color: #73ca69;
    border-radius: 8px;
    font-style: italic;
}

.n2 {
    display: block;
    justify-self: center;
    justify-items: center;
    text-align: center;
    font-size: 24px;
    color: rgb(0, 0, 0);
    width: 80%;
    height: 30vh;
    padding-top: 4rem;
    margin-bottom: 5rem;
    background-color: #69bdca;
    border-radius: 8px;
    font-style: italic;
}

.n3 {
    display: block;
    justify-self: center;
    justify-items: center;
    text-align: center;
    font-size: 24px;
    color: rgb(0, 0, 0);
    width: 80%;
    height: 50vh;
    padding-top: 4rem;

    background-color: #500b7a;
    border-radius: 8px;
    font-style: italic;
}