@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background: linear-gradient(120deg,#1f1c2c,#928dab);
    color: white;
    min-height: 100vh;
}

/* Header */

.header{
    text-align: center;
    margin-top: 2rem;
}

.new{
    font-size: 4rem;
}

/* Container */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

/* Card */

.cardstyle {
    margin-top: 3rem;
    width: 320px;
    padding: 2rem;
    border-radius: 15px;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
    text-align: center;
    transition: 0.3s;
    margin: 1rem;
}

.cardstyle:hover{
    transform: scale(1.03);
}

/* Image */

.image {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
}

/* Text */

.h2{
    font-size: 1.6rem;
}

.para{
    margin: 0.5rem 0 1rem;
}

/* Audio */

.audio-card {
  width: 100%;
  padding: 18px;
  border-radius: 15px;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(15px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.3);
  text-align: center;
}

.audio-card audio {
  width: 100%;
}

